*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

body{
    background-color: #1E2019;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8DAB7F;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    background-color: #1E2019;
    color: #6F989B;
    padding: 20px;
    text-align: center;
}

.footer > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #021527;
    padding: 10px 20px;
    color: white;
}

.nav-pais{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #4C696B;
}

.nav-pais h1{
    color:#4C696B;
    font-size: 14px;
}

.nav-pesquisar{
    border: #8DAB7F;
    border: 1px solid #272A22;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #021527;
    color: #3C4435;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-pesquisar-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
    font-size: 16px;
    background-color: #021527;
    color: white;
}

.nav-pesquisar-icon{
    max-width: 39px;
    padding: 8px;
    background-color: #021527;
    border-radius: 0 2px 2px 0;
}

.nav-linguagem{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.nav-texto{
    margin-left: 15px;
}

.nav-texto p{
    font-size: 12px;
}

.nav-texto h1{
    font-size: 16px;
}

.nav-carrinho{
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.nav-baixo{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 8px 20px;
    background-color: #05192A;
    color: #ffff;
}

.nav-baixo div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.display_prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display_prod div{
    max-width: 34%;
}

.header-img{
    max-width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.logo{
    overflow: hidden;
    mask-image: radial-gradient(circle, #021527 50%, transparent 80%);
}

.dropdown_menu{
    position: relative;
    z-index: 10;
}

.dropdown_menu div{
    display: inline-block;
}

.dropdown_menu button{
    background-color: #05192A;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown_menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown_menu .conteudo_todos{
    display: none;
    background-color: #05192A;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #05192A;
    z-index: 20;
}

.dropdown_menu:hover .conteudo_todos{
    display: block;
    top: 100%;
} 

.dropdown_menu:hover button{
    background-color: #0B2030;
}

.dropdown_menu a:hover{
    background-color: #0B2030;
}

.menu-items_mais-vendidos{
    position: relative;
    z-index: 10;
}

.menu-items_mais-vendidos div{
    display: inline-block;
}

.menu-items_mais-vendidos button{
    background-color: #05192A;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.menu-items_mais-vendidos a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-items_mais-vendidos .conteudo_mais-vendidos{
    display: none;
    top: 100%;
    background-color: #05192A;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #05192A;
    z-index: 20;
}

.menu-items_mais-vendidos:hover .conteudo_mais-vendidos{
    display: block;
} 

.menu-items_mais-vendidos:hover button{
    background-color: #0B2030;
}

.menu-items_mais-vendidos a:hover{
    background-color: #0B2030;
}

.menu-items_moedas{
    position: relative;
    z-index: 10;
}

.menu-items_moedas div{
    display: inline-block;
}

.menu-items_moedas button{
    background-color: #05192A;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.menu-items_moedas a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-items_moedas .conteudo_moedas{
    display: none;
    top: 100%;
    background-color: #05192A;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #05192A;
    z-index: 20;
}

.menu-items_moedas:hover .conteudo_moedas{
    display: block;
} 

.menu-items_moedas:hover button{
    background-color: #0B2030;
}

.menu-items_moedas a:hover{
    background-color: #0B2030;
}

.menu-items_carros{
    position: relative;
    z-index: 10;
}

.menu-items_carros div{
    display: inline-block;
}

.menu-items_carros button{
    background-color: #05192A;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.menu-items_carros a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-items_carros .conteudo_carros{
    display: none;
    top: 100%;
    background-color: #05192A;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #05192A;
    z-index: 20;
}

.menu-items_carros:hover .conteudo_carros{
    display: block;
} 

.menu-items_carros:hover button{
    background-color: #0B2030;
}

.menu-items_carros a:hover{
    background-color: #0B2030;
}

.menu-items_livros{
    position: relative;
    z-index: 10;
}

.menu-items_livros div{
    display: inline-block;
}

.menu-items_livros button{
    background-color: #05192A;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.menu-items_livros a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-items_livros .conteudo_livros{
    display: none;
    top: 100%;
    background-color: #05192A;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #05192A;
    z-index: 20;
}

.menu-items_livros:hover .conteudo_livros{
    display: block;
} 

.menu-items_livros:hover button{
    background-color: #0B2030;
}

.menu-items_livros a:hover{
    background-color: #0B2030;
}