*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

body{
    background-color: #1E2019;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8DAB7F;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #1E2019;
    color: #4C696B;
    padding: 20px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

.footer > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.footer p{
    margin-top: 10px;
    color:#587B7F;
}

.footer h2{
    color:#8FACB8;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #021527;
    padding: 10px 20px;
    color: white;
}

.nav-pais{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #4C696B;
}

.nav-pais h1{
    color:#8FACB8;
    font-size: 14px;
}

.nav-pesquisar{
    border: #8DAB7F;
    border: 2px solid #272A22;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #021527;
    color: #3C4435;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-pesquisar-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
    font-size: 16px;
    background-color: #021527;
    color: white;
}

.nav-pesquisar-icon{
    max-width: 39px;
    padding: 8px;
    background-color: #021527;
    border-radius: 0 2px 2px 0;
}

.nav-linguagem{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.nav-login .btnLogin-popup{
    margin-left: 15px;
    width: 80px ;
    height: 50px;
    background: transparent;
    border: 2px solid #272A22;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    font-style: inherit;
    transition: .5s;
}

.nav-login .btnLogin-popup:hover {
    background: white;
    color: #0B2030;

}

.nav-baixo{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 8px 20px;
    background-color: #05192A;
    color: #ffff;
}

.nav-baixo div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.display_prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display_prod div{
    max-width: 34%;
}

.header-img{
    max-width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, transparent 0%, #000 30%, #000 70%, transparent 100%);
}

.logo{
    overflow: hidden;
    mask-image: radial-gradient(circle, #021527 50%, transparent 80%);
}

.dropdown_menu .conteudo_todos{
    display: none;
    background-color: #05192A;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #05192A;
    z-index: 20;
}

.dropdown_menu:hover .conteudo_todos{
    display: block;
    top: 100%;
} 

.dropdown_menu:hover button,
.dropdown_menu a:hover,
.menu-items_mais-vendidos:hover button,
.menu-items_mais-vendidos a:hover,
.menu-colecoes:hover button,
.menu-colecoes a:hover,
.menu-eventos:hover button,
.menu-eventos a:hover,
.menu-adicionar-item-coleção:hover button,
.menu-adicionar-item-coleção a:hover,
.menu-criar-coleção:hover button,
.menu-criar-coleção a:hover
{
    background-color: #0B2030;
}

.dropdown_menu,
.menu-items_mais-vendidos,
.menu-colecoes,
.menu-eventos,
.menu-adicionar-item-coleção,
.menu-criar-coleção{
    position: relative;
    z-index: 10;
}

.dropdown_menu div,
.menu-items_mais-vendidos div,
.menu-colecoes div,
.menu-eventos div,
.menu-adicionar-item-coleção div
.menu-criar-coleção div{
    display: inline-block;
}

.dropdown_menu button,
.menu-items_mais-vendidos button,
.menu-colecoes button,
.menu-eventos button,
.menu-adicionar-item-coleção button,
.menu-criar-coleção button{
    background-color: #05192A;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown_menu a,
.menu-items_mais-vendidos a,
.menu-colecoes a,
.menu-eventos a,
.menu-adicionar-item-coleção a
.menu-criar-coleção a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-items_mais-vendidos .conteudo_mais-vendidos,
.menu-colecoes .conteudo_colecoes,
.menu-eventos .conteudo_eventos
{
    display: none;
    top: 100%;
    background-color: #05192A;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #05192A;
    z-index: 20;
}

.menu-items_mais-vendidos:hover .conteudo_mais-vendidos,
.menu-colecoes:hover .conteudo_colecoes,
.menu-eventos:hover .conteudo_eventos
{
    display: block;
} 

.form_nome-item,
.form_colecao-item,
.form_preco-item,
.form_local-compra,
.form_data-item,
.form_descricao-item,
.form_nome-colecao,
.form_tema-colecao{
    border: #8DAB7F;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #021527;
    color: #8DAB7F;
    border-radius: 4px;
    margin: 0 15px 15px 15px;
    height: 50px;
    width: 400px;
    padding-right: 40px;
}

.form_nome-evento label,
.form_tema-evento label,
.form_preco-bilhete label,
.form_local-compra-bilhetes label,
.form_local-evento label,
.form_imagem-item label,
.form_Username label,
.form_Password label,
.form_Confirmar-Password label,
.form_nome-item label,
.form_colecao-item label,
.form_preco-item label,
.form_local-compra label
.form_data-item label,
.form_descricao-item label,
.form_nome-colecao label,
.form_tema-colecao label{
    margin-right: 10px;
    white-space: nowrap;
}

.adicionar_item_titulo,
.criar_evento_titulo,
.login_titulo,
.sign-up_titulo,
.criar_colecao_titulo{
    display: flex;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 22px;
}

.form_nome-item input,
.form_colecao-item input,
.form_preco-item input,
.form_local-compra input,
.form_data-item input,
.form_descricao-item input,
.form_nome-colecao input,
.form_tema-colecao input{
    flex-grow: 1;
    border: 1px solid;
    border-radius: 10px;
    background-color: #05192A;
    color: #8DAB7F;
    font-size: 16px;
    align-items: center;
    max-width: 230px;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 10px;
}

.adicionar-item_btn,
.criar-evento_btn,
.sign-up,
.sign-up_btn,
.form_Password button,
.form_Confirmar-Password button,
.log-in_btn,
.criar-colecao_btn,
.editar-btn, 
.eliminar-btn,
.av_eve_1 input[type="submit"],
.av_eve_2 input[type="submit"],
.av_eve_3 input[type="submit"]
{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
}

.form_Password button,
.form_Confirmar-Password button{
    width: 120px;
}

.adicionar-item_btn button,
.criar-evento_btn button,
.home-page_btn,
.sign-up_btn button,
.form_Password button,
.form_Confirmar-Password button,
.log-in_btn button,
.criar-colecao_btn button,
.editar-btn, 
.eliminar-btn,
.av_eve_1 input[type="submit"],
.av_eve_2 input[type="submit"],
.av_eve_3 input[type="submit"]{
    background-color: #021527;
    border: 1px solid;
    color: #8DAB7F;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
}

.form_nome-evento,
.form_tema-evento,
.form_preco-bilhete,
.form_local-compra-bilhetes,
.form_local-evento,
.form_imagem-item,
.form_Username,
.form_Password,
.form_Confirmar-Password{
    border: #8DAB7F;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #021527;
    color: #8DAB7F;
    border-radius: 4px;
    margin: 0 15px 15px 15px;
    height: 50px;
    width: 400px;
    padding-right: 40px;
}

.form_nome-evento input,
.form_tema-evento input,
.form_preco-bilhete input,
.form_local-compra-bilhetes input,
.form_local-evento input,
.form_imagem-item input,
.form_Username input,
.form_Password input,
.form_Confirmar-Password input
{
    flex-grow: 1;
    border: 1px solid;
    border-radius: 10px;
    background-color: #05192A;
    color: #8DAB7F;
    font-size: 16px;
    align-items: center;
    max-width: 230px;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 10px;
}

.sign-up_btn button:hover,
.log-in_btn button:hover,
.criar-evento_btn button:hover,
.adicionar-item_btn button:hover,
.home-page_btn:hover,
.form_Password button:hover,
.form_Confirmar-Password button:hover,
.form_Confirmar-Password button:hover,
.editar-btn:hover,
.eliminar-btn:hover,
.criar-colecao_btn button:hover,
.form_imagem-item input[type="submit"]:hover,
.av_eve_1 input[type="submit"]:hover,
.av_eve_2 input[type="submit"]:hover,
.av_eve_3 input[type="submit"]:hover
{
    background-color: #8DAB7F; 
    color: #05192A; 
}

.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #021527;
    border-radius: 100px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
    width: calc(100% - 500px);
    max-width: 600px;
    min-width: 300px; 
    }

.form_imagem-item input[type="submit"] 
{
    background-color: #021527;
    border: 1px solid;
    color: #8DAB7F;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
    width: 100%; 
    margin-left: 10px;
    padding-right: 10px;
}

.form_imagem-item input[type="file"] 
{
    flex-grow: 1;
    padding: 15px 0 0 10px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #05192A;
    color: #8DAB7F;
    font-size: 16px;
    align-items: center;
    height: 100%;
    width: 400px;
    outline: none;
    cursor: pointer;
}

.form_imagem-item
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up_texto{
    margin-top: 30px;
}

.form_Password{
    margin-left: 70px;
}

.form_Confirmar-Password{
    margin-left: 65px;
}

.form_Password button,
.form_Confirmar-Password button{
    height: 40px;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 8px;
}

/* -------- Página Coleção -------- */

.container h1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.container h2{
    margin-right:50px;
    margin-right:50px;
    color: #8DAB7F;
    margin-right:50px; 
    color: #8DAB7F;
}

.container {
    padding: 30px 100px 100px 100px;
}
  
.item_1,
.item_2,
.item_3,
.colecao,
.evento1,
.evento2,
.evento3,
.evento4,
.evento5,
.av_eve_1,
.av_eve_2,
.av_eve_3{
    background-color: #021527;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 20px;
}

.item_1 button,
.item_2 button,
.item_3 button{
    color:#021527;
    background-color: #021527;
}
  
.item_1 p,
.item_2 p,
.item_3 p,
.colecao p,
.evento1 p,
.evento2 p,
.evento3 p,
.evento4 p,
.evento5 p,
.av_eve_1 p,
.av_eve_2 p,
.av_eve_3 p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    line-height: 1.6;
}
  
.chapeu_img img, .hogwarts_express_img img, .castelo_img img, .hp_img, .Lugola_sinf1\.jpg img, .Oeiras_brink_sinf1\.jpg img
, .Valbrick_sinf1\.jpg img, .FanLego_sinf1\.jpg img, .FicZone_sinf1\.jpg img, .Roclug\.JPG img, .SpringBreak_sinf1\.JPG img, .Brickalissimo\.JPG img{
    width: 200px;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    mask-image: none;
}

/* -------- Página Item -------- */

.item_titulo h1{
    display: flex;
    justify-content: center;
    margin: 40px 0 50px 0;
}

.item_painel {
    display: flex;
    flex-direction: column;
}

.conteudo_item {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}

.item_chapeu_img, 
.item_hogwarts_express_img,
.item_castelo_img,
.descricao_item {
    flex: 1;
}

.item_chapeu_img img,
.item_hogwarts_express_img img, 
.item_castelo_img img{
    width: 80%; 
    height: auto; 
    margin: 60px 0 0 60px;
}

.descricao_item li{
    margin: 10px 150px 20px 0;
}

.descricao_item p{
    color:#ffff;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

  select {
    margin-top: 20px;
    padding: 8px 30px 8px 10px;
    border: 2px solid #8DAB7F; 
    border-radius: 10px; 
    display: block; 
    width: 100%; 
    appearance: none; 
    background-color: #0B2030; 
    color:white;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23666" d="M6.516 7.548c0.436-0.446 1.043-0.481 1.576 0l2.411 2.317 2.362-2.317c0.533-0.481 1.141-0.446 1.576 0 0.436 0.445 0.408 1.197 0 1.615l-3.038 2.974c-0.408 0.418-1.141 0.418-1.549 0l-3.038-2.974c-0.408-0.418-0.436-1.17 0-1.615z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
  }