*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

body{
    background-color: #1E2019;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8DAB7F;
}

/* ---------- HOME PAGE ---------- */

.footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #1E2019;
    color: #4C696B;
    padding: 20px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

.footer > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.footer p{
    margin-top: 10px;
    color:#587B7F;
}

.footer h2{
    color:#8FACB8;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #021527;
    padding: 10px 20px;
    color: white;
}

.nav-pais{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #4C696B;
}

.nav-pais h1{
    color:#8FACB8;
    font-size: 14px;
}

.nav-pesquisar{
    border: #8DAB7F;
    border: 2px solid #272A22;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #021527;
    color: #3C4435;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-pesquisar-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
    font-size: 16px;
    background-color: #021527;
    color: white;
}

.nav-pesquisar-icon{
    max-width: 39px;
    padding: 8px;
    background-color: #021527;
    border-radius: 0 2px 2px 0;
}

.nav-linguagem{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.nav-login .btnLogin-popup{
    margin-left: 15px;
    width: 80px ;
    height: 50px;
    background: transparent;
    border: 2px solid #272A22;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    font-style: inherit;
    transition: .5s;
}

.nav-login .btnLogin-popup:hover {
    background: white;
    color: #0B2030;

}

.nav-baixo{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 8px 20px;
    background-color: #05192A;
    color: #ffff;
}

.nav-baixo div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.display_prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display_prod div{
    max-width: 34%;
}

.header-img{
    max-width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, transparent 0%, #000 30%, #000 70%, transparent 100%);
}

.logo{
    overflow: hidden;
    mask-image: radial-gradient(circle, #021527 50%, transparent 80%);
}

.dropdown_menu .conteudo_todos{
    display: none;
    background-color: #05192A;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #05192A;
    z-index: 20;
}

.dropdown_menu:hover .conteudo_todos{
    display: block;
    top: 100%;
} 

.dropdown_menu:hover button,
.dropdown_menu a:hover,
.menu-items_mais-vendidos:hover button,
.menu-items_mais-vendidos a:hover,
.menu-colecoes:hover button,
.menu-colecoes a:hover,
.menu-eventos:hover button,
.menu-eventos a:hover,
.menu-adicionar-item-coleção:hover button,
.menu-adicionar-item-coleção a:hover,
.menu-adicionar-item-coleção:hover button,
.menu-adicionar-item-coleção a:hover
{
    background-color: #0B2030;
}

.dropdown_menu,
.menu-items_mais-vendidos,
.menu-colecoes,
.menu-eventos,
.menu-adicionar-item-coleção{
    position: relative;
    z-index: 10;
}

.dropdown_menu div,
.menu-items_mais-vendidos div,
.menu-colecoes div,
.menu-eventos div,
.menu-adicionar-item-coleção div{
    display: inline-block;
}

.dropdown_menu button,
.menu-items_mais-vendidos button,
.menu-colecoes button,
.menu-eventos button,
.menu-adicionar-item-coleção button{
    background-color: #05192A;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown_menu a,
.menu-items_mais-vendidos a,
.menu-colecoes a,
.menu-eventos a,
.menu-adicionar-item-coleção a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-items_mais-vendidos .conteudo_mais-vendidos,
.menu-colecoes .conteudo_colecoes,
.menu-eventos .conteudo_eventos,
.menu-adicionar-item-coleção .conteudo_adicionar-item-coleção{
    display: none;
    top: 100%;
    background-color: #05192A;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #05192A;
    z-index: 20;
}

.menu-items_mais-vendidos:hover .conteudo_mais-vendidos,
.menu-colecoes:hover .conteudo_colecoes,
.menu-eventos:hover .conteudo_eventos,
.menu-adicionar-item-coleção:hover .conteudo_adicionarItem{
    display: block;
} 

.form_nome-item,
.form_colecao-item,
.form_preco-item,
.form_local-compra{
    border: #8DAB7F;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #021527;
    color: #8DAB7F;
    border-radius: 4px;
    margin: 0 15px 15px 15px;
    height: 50px;
    width: 400px;
    padding-right: 40px;
}

.form_nome-item label,
.form_colecao-item label,
.form_preco-item label,
.form_local-compra label{
    margin-right: 10px;
    white-space: nowrap;
}

.adicionar_item_titulo,
.criar_evento_titulo,
.login_titulo{
    display: flex;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.form_nome-item input,
.form_colecao-item input,
.form_preco-item input,
.form_local-compra input{
    flex-grow: 1;
    border: 1px solid;
    border-radius: 10px;
    background-color: #05192A;
    color: #8DAB7F;
    font-size: 16px;
    align-items: center;
    max-width: 230px;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 10px;
}

.adicionar-item_btn,
.criar-evento_btn,
.sign-up_btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
}

.adicionar-item_btn button,
.criar-evento_btn button,
.home-page_btn,
.sign-up_btn {
    background-color: #021527;
    border: 1px solid;
    color: #8DAB7F;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form_nome-evento,
.form_tema-evento,
.form_preco-bilhete,
.form_local-compra-bilhetes,
.form_local-evento,
.form_imagem-item,
.form_Username,
.form_Password
 {
    border: #8DAB7F;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #021527;
    color: #8DAB7F;
    border-radius: 4px;
    margin: 0 15px 15px 15px;
    height: 50px;
    width: 400px;
    padding-right: 40px;
}

.form_nome-evento label,
.form_tema-evento label,
.form_preco-bilhete label,
.form_local-compra-bilhetes label,
.form_local-evento label,
.form_imagem-item label,
.form_Username label,
.form_Password label{
    margin-right: 10px;
    white-space: nowrap;
}

.form_nome-evento input,
.form_tema-evento input,
.form_preco-bilhete input,
.form_local-compra-bilhetes input,
.form_local-evento input,
.form_imagem-item input,
.form_Username input,
.form_Password input{
    flex-grow: 1;
    border: 1px solid;
    border-radius: 10px;
    background-color: #05192A;
    color: #8DAB7F;
    font-size: 16px;
    align-items: center;
    max-width: 230px;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 10px;
}

.sign-up_btn:hover,
.criar-evento_btn button:hover,
.adicionar-item_btn button:hover,
.home-page_btn:hover,
.form_imagem-item input[type="submit"]:hover{
    background-color: #8DAB7F; 
    color: #05192A; 
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #021527;
    border-radius: 100px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 50px;
    width: calc(100% - 500px);
    max-width: 600px;
    min-width: 300px; 
    }

.form_imagem-item input[type="submit"] {
    background-color: #021527;
    border: 1px solid;
    color: #8DAB7F;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
    width: 100%; 
    margin-left: 10px;
    padding-right: 10px;
}

.form_imagem-item input[type="file"] {
    flex-grow: 1;
    padding: 15px 0 0 10px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #05192A;
    color: #8DAB7F;
    font-size: 16px;
    align-items: center;
    height: 100%;
    width: 400px;
    outline: none;
    cursor: pointer;
}

.form_imagem-item{
    display: flex;
    align-items: center;
    justify-content: center;
}